<%- include ("../partials/header") %> 
    
<h1 class="H1Text">Recent Blogs</h1>
<div class="contain">
    <% campgrounds.forEach(function(campground){ %>
        <div class="Images">
            <div class="CName"> 
                <%= campground.name %> </div>
           <div class="CImg"><img src="<%= campground.url %>"  ></div>
           <div class="CDesc"><%= campground.description %></div>
        <div><a href="/campgrounds/<%= campground._id %>">Read More</a></div>
        </div>
    <% }) %>
</div>
<%- include ("../partials/footer") %>