<%- include ("../partials/header") %> 
    
<h1 class="H1Text">This is the campground Page</h1>
<p>These are our Top campgrounds</p>
<div class="contain">
    <% campgrounds.forEach(function(campground){ %>
        <div class="Images">
            <h4> <%= campground.name %> </h4>
            <img src="<%= campground.url %>" >
            <a href="/campgrounds/<%= campground._id %>">Read More</a>
        </div>
    <% }) %>
</div>
<%- include ("../partials/footer") %>