<%- include ("../partials/header") %>
     
    <form action="/campgrounds/<%= campground._id %>?_method=PUT" method="POST" class="Label">
        <input type="text" name="name" value="<%=campground.name %>" class="postText" required>
        <input type="url" value="<%=campground.url %>" name="imgURL"class="postText" required>
        <textarea type="text" name="description" class="desc" required><%=campground.description %></textarea>
        <button class="submitButton">Update</button>
    </form>

<%- include ("../partials/footer") %>